<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ShopManagmentSystem.Properties.Settings.ShopManConnectionString"
            connectionString="Data Source=DESKTOP-PDSAB38\SQLEXPRESS;Initial Catalog=ShopMan;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="ShopManagmentSystem.Properties.Settings.ShopManConnectionString1"
            connectionString="Data Source=DESKTOP-PDSAB38\SQLEXPRESS;Initial Catalog=ShopMan;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="ShopManagmentSystem.Properties.Settings.shopmansqlfileConnectionString"
            connectionString="Data Source=DESKTOP-PDSAB38\SQLEXPRESS;Initial Catalog=shopmansqlfile;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>